<mat-card class="card">
  <mat-card-title> Gráfico - Contactos </mat-card-title>
  <mat-card-content>
    <div class="chart-row">
      <div>
        <p><strong>Apellido inicial</strong></p>
        <ngx-charts-bar-vertical
          [view]="[400, 300]"
          [results]="initialLetter"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          xAxisLabel="Inicial del apellido"
          yAxisLabel="Número de contactos"
        >
        </ngx-charts-bar-vertical>
      </div>
      <div>
        <p><strong>Tamaño del nombre</strong></p>
        <ngx-charts-line-chart
          [view]="[400, 300]"
          [results]="contactsByFullName"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          xAxisLabel="Tamaño del Nombre Completo"
          yAxisLabel="Número de Contactos"
        >
        </ngx-charts-line-chart>
      </div>
    </div>
    <div class="chart-row">
      <div>
        <p><strong>Extensiones</strong></p>
        <ngx-charts-pie-chart
          [view]="[400, 300]"
          [results]="emailExtensions"
          [labels]="true"
          [doughnut]="true"
        >
        </ngx-charts-pie-chart>
      </div>
      <div>
        <p><strong>Prefijo</strong></p>
        <ngx-charts-bar-horizontal
          [view]="[400, 300]"
          [results]="phonePrefixData"
          [xAxis]="true"
          [yAxis]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          xAxisLabel="Número de Contactos"
          yAxisLabel="Prefijo del Teléfono"
        >
        </ngx-charts-bar-horizontal>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="card">
  <mat-card-title> Gráfico - Productos </mat-card-title>
  <mat-card-content>
    <div class="chart-row">
      <div>
        <p><strong>Stock</strong></p>
        <ngx-charts-pie-chart
          [view]="[400, 300]"
          [results]="stockMap"
          [labels]="true"
          [doughnut]="true"
        >
        </ngx-charts-pie-chart>
      </div>
      <div>
        <p><strong>Precio </strong></p>
        <ngx-charts-bar-horizontal
          [view]="[400, 300]"
          [results]="productsList"
          [xAxis]="true"
          [yAxis]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          xAxisLabel="Producto"
          yAxisLabel="Precio"
        >
        </ngx-charts-bar-horizontal>
      </div>
    </div>
    <div class="chart-row">
      <div>
        <p>
          <strong>Total stock y total del valor del stock por categoría</strong>
        </p>
        <ngx-charts-bar-vertical-2d
          [view]="[400, 300]"
          [results]="productsStockPrice"
          [xAxis]="true"
          [yAxis]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          xAxisLabel="Categorias"
          yAxisLabel="Productos"
        >
        </ngx-charts-bar-vertical-2d>
      </div>
      <div>
        <p><strong>Ten products price by date</strong></p>
        <ngx-charts-bar-horizontal-stacked
          [view]="[400, 300]"
          [legend]="true"
          [legendPosition]="'below'"
          [results]="productsYear"
          [xAxis]="true"
          [yAxis]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          xAxisLabel="prices"
          yAxisLabel="Products"
        >
        </ngx-charts-bar-horizontal-stacked>
      </div>
    </div>
  </mat-card-content>
</mat-card>
