<mat-card class="card">
  <mat-card-title>Detalle de contacto</mat-card-title>
  <mat-card-content class="card-content">
    <p>
      <mat-icon>person</mat-icon> <strong>Nombre:</strong> {{contact.name}}
    </p>
    <p>
      <mat-icon>person</mat-icon> <strong>Primer Apellido:</strong> {{contact.first_surname}}
    </p>
    <p>
      <mat-icon>person</mat-icon> <strong>Segundo Apellido:</strong> {{contact.second_surname}}
    </p>
    <p>
      <mat-icon>phone</mat-icon> <strong>Teléfono:</strong> {{contact.phone}}
    </p>
    <p>
      <mat-icon>email</mat-icon> <strong>Email:</strong> {{contact.mail}}
    </p>
  </mat-card-content>
</mat-card>