<mat-card class="card">
  <mat-card-title>Editar Producto</mat-card-title>
  <mat-card-content class="card-content">
    <form (submit)="updateProduct()">
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" name="name" [(ngModel)]="product.name" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Stock</mat-label>
        <input
          matInput
          type="text"
          name="stock"
          [(ngModel)]="product.stock"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Precio</mat-label>
        <input
          matInput
          type="text"
          name="price"
          [(ngModel)]="product.price"
        />
      </mat-form-field>
      <mat-radio-group
        aria-label="Select an option"
        name="active"
        [(ngModel)]="product.active"
        class="mat"
      >
        <mat-radio-button [value]="true" class="button">Activo</mat-radio-button>
        <mat-radio-button [value]="false">No Activo</mat-radio-button>
      </mat-radio-group>
      <mat-form-field appearance="outline">
        <mat-label>Fecha</mat-label>
        <input matInput type="date" name="date_added" [(ngModel)]="product.date_added" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Selecciona una</mat-label>
        <mat-select name="category" [(ngModel)]="product.category.id">
          <mat-option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="buttons">
        <button mat-raised-button color="primary" type="submit">
          <mat-icon>save</mat-icon>
        </button>
        <button mat-raised-button color="warn" type="button" (click)="cancelUpdate()">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </form>

  </mat-card-content>
</mat-card>
