.card {
  margin: 20px 40px 0px 40px;
}

form {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.buttons button {
  margin-left: 1%;
}

.button {
  margin-right: 15px;
}

.mat {
  padding-bottom: 1.94375em;
}